@import url('https://fonts.googleapis.com/css?family=Mukta:400,500,600,700,800');
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

$primary:rgb(81, 86, 172);

// customize styles
.navbar-brand {
  .navbar-item:hover {
    color: $grey-dark;
  }
}

// New variables
$family-heading: 'Mukta',
sans-serif;

@import '~bulma';

%heading {
  font-family: $family-heading;
}

.title {
  @extend %heading;
}
